@import 'variables';

@keyframes switch-content {
  0% {
    color: $icon-blue;
  }
  35% {
    color: $primary;
  }
  0% {
    color: $icon-gold;
  }
}

@keyframes scale-change {
  0% {
    transform: scale(1);
    box-shadow: 0;
  }
  35% {
    transform: scale(1.1);
    box-shadow: 0 0 8px 4px var(--sh-clr);
  }
  100% {
    transform: scale(1);
    box-shadow: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 0.65;
    transform: scale(1);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 0.7;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft_P {
  from {
    opacity: 0;
    transform: translateX(-20%);
  }
  to {
    opacity: 0.5;
    transform: translateX(0);
  }
}

@keyframes appear_on_scroll {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes arsenal_items {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}