@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

$primary: #DE2E54;
$btn-hover: #ed5a7a;
$secondary: #17BEBB;
$btn-text: #039d9b;
$text-light: #F7F5DD;
$text-light-fade: #efc4c4;
$text-pink: #f96988;
$text-heading: #9086db;
$tags: #7d448d;
$text-light-pink: #fe97ad;
$text-dark: #574142;
$text-dark-fade: #BFA5A6;
$text-dark-blue: #0c7776;
$header-icons-blue: #03504e;
$header-icons-red: #e6748c;
$icon-gold: #e4a111;
$icon-blue: #447bf1;
$border: hsla(234, 37%, 90%, 0.1);
$bg: #04020f;
$card-bg: #0c0320;
$sidebar-bg: #08031d;
$project-bg: #08031d;
$modal-bg: #0f0222;
$socket-io: hsl(55, 62%, 92%, 0.7);
$logo-blue: hsl(221, 60%, 78%, .5);
$icon-purple: #6959e3;
$purple-hover: #8e81f2;
$scroll-thumb-main: rgb(131, 40, 55);
$scroll-thumb-sub: hsl(234, 64%, 75%, .3);
$input-border: hsl(234, 64%, 75%, .2);
$hover-li: rgb(30, 23, 79);
$cog: #d992eb;